{% extends "students/base.html" %}

{% block title %}Danh sách học viên{% endblock %}

{% block content %}
<div class="student-list-container">
    <h2>Danh sách học viên</h2>
    {% if user.is_superuser %}
        <a href="{% url 'student_create' %}" class="btn btn-primary">Thêm học viên mới</a>
    {% endif %}
    <table class="student-table">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên</th>
                <th>Email</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ</th>
                <th>Hành động</th>
                <th>Chi tiết</th> <!-- Thêm cột Chi tiết -->
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{student.student}}</td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.phone_number }}</td>
                    <td>{{ student.address }}</td>
                    <td>
                        {% if user.is_superuser %}
                            <a href="{% url 'student_edit' student.pk %}" class="btn btn-edit">Sửa</a>
                            <a href="{% url 'student_delete' student.pk %}" class="btn btn-delete">Xóa</a>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'student_profile' student.pk %}" class="btn btn-info">Xem hồ sơ</a> <!-- Thêm liên kết đến trang hồ sơ -->
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
